.library
	position: fixed
	top: 0
	left: 0
	width: 20rem
	height: 100%
	background-color: white
	box-shadow: 2px 2px 50px #ccc
	overflow-y: auto

	.title
		padding: 1rem 2rem

	.songList
		display: flex
		align-items: center
		flex-direction: column
		padding: 1rem 2rem
