.songInformation
	min-height: 60vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	img
		width: 20%
		border-radius: 20%

	.name
		padding: 3rem 1rem 1rem 1rem
		font-size: 2rem
		color: #34495e

	.artist
		font-size: 1rem
		color: #808b96
