.libraryItem
	padding: 30px 0
	cursor: pointer
	border-bottom: 1px solid  #d5d8dc
	display: flex
	justify-content: space-between
	transition: all .2s ease-in-out

	&:hover
		transform: scale(1.1, 1.1)

	img
		width: 40%
		border-radius: 10px
		margin-bottom: 15px

	.description
		width: 50%
		display: flex
		flex-direction: column
		justify-content: center

		.name
			font-size: 18px
			color: #2c3e50

		.artist
			font-size: 14px
			color: #808b96
